Repository saitcmty/pumm-web, changes with the labels that .github/labeler.yml gives for each.
All labels: videojuegos, principiantes-web, avanzados-web

Se agregaron los detalles principales de la sesión 4
  ad-21/principiantes-web/template.html
Labels: principiantes-web

Sesion 4
  ad-21/avanzados-web/template.html
Labels: avanzados-web

Update template.html
  ad-21/principiantes-web/template.html
Labels: principiantes-web

Equipo 2 Módulo 3 Tema 3
  ad-21/avanzados-web/modulo3tema3.html
Labels: avanzados-web

Se completo la pagina en template.html
  ad-21/principiantes-web/template.html
Labels: principiantes-web

Pagina web con sesion 5 actualizada
  ad-21/videojuegos/sesion5.html
  ad-21/videojuegos/sesion5.png
Labels: videojuegos

Add files via upload
  equipo4_videojuegos_pullrequest.html
Labels: none

Carga de pagina sesion 6
  ad-21/videojuegos/sesion6.html
Labels: videojuegos

Equipo 2 Modulo5 Tema3
  fj-21/avanzados/sesion9.html
Labels: none

Update sesion2.html
  ad-21/videojuegos/sesion2.html
Labels: videojuegos

sesion 1
  ad-21/videojuegos/sesion1.html
Labels: videojuegos

.github/labeler.yml:

videojuegos:
- 'ad-21/videojuegos/*'

principiantes-web:
- 'ad-21/principiantes-web/*'

avanzados-web:
- 'ad-21/avanzados-web/*'
